<h3 class="ui header">{{t "forms.i-i-s-7-заявка-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерЗаявки
      class=(if (v-get validationModel "номерЗаявки" "isInvalid") "error")
      label=(t "forms.i-i-s-7-заявка-e.номерЗаявки-caption")
      data-test-i-i-s-7-заявка-e-номерЗаявки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерЗаявки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.важность
      class=(if (v-get validationModel "важность" "isInvalid") "error")
      label=(t "forms.i-i-s-7-заявка-e.важность-caption")
      data-test-i-i-s-7-заявка-e-важность=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "важность" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодЗаявки
      class=(if (v-get validationModel "кодЗаявки" "isInvalid") "error")
      label=(t "forms.i-i-s-7-заявка-e.кодЗаявки-caption")
      data-test-i-i-s-7-заявка-e-кодЗаявки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодЗаявки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодСотрудника
      class=(if (v-get validationModel "кодСотрудника" "isInvalid") "error")
      label=(t "forms.i-i-s-7-заявка-e.кодСотрудника-caption")
      data-test-i-i-s-7-заявка-e-кодСотрудника=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодСотрудника" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодКонтрагента
      class=(if (v-get validationModel "кодКонтрагента" "isInvalid") "error")
      label=(t "forms.i-i-s-7-заявка-e.кодКонтрагента-caption")
      data-test-i-i-s-7-заявка-e-кодКонтрагента=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодКонтрагента" "message")}}
  </div>
</form>
